/* SearchPage.css */

.search-page {
  padding: 20px;
}

.search-bar {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden; /* Ensures button is placed correctly */
}

.search-bar input {
  width: calc(100% - 100px); /* Adjust width for button */
  padding: 10px;
  font-size: 16px;
  background-color: rgb(53, 53, 53);
  border: 1px solid #ccc;
  border-radius: 5px;
  float: left; /* Float input left to align with button */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.search-bar button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right; /* Float button right */
}

.video-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px; /* Gap between items */
}

@media (max-width: 768px) {
  .video-list {
    grid-template-columns: repeat(1, 1fr); /* Single column layout on smaller screens */
  }
}

.video-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.video-item img {
  width: 100%;
  height: auto;
  display: block;
}

.video-details {
  padding: 10px;
}

.video-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.video-meta {
  font-size: 14px;
  color: #888;
}
