.video-player-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .video-container {
    width: 100%;
    max-width: 1200px; /* You can adjust the max-width as per your requirement */
    height: auto;
  }
  